body {
  color: #212121;
  font-family: "Roboto", sans-serif;
}

.site-logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: #000;
  text-decoration: none;
}

.footer .site-logo {
  color: #FFF;
}

.site-logo  span {
  color: #2196f3;
}

.header-nav {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  
}

.header-nav a {
  color: #212121;
  text-decoration: none;
}

.header-nav a:hover {
  color: #2196f3;
  text-decoration: none;
}

.header-nav a:focus {
  color: #2196f3;
  text-decoration: none;
}

.current-site {
  color: #2196f3;
}

.header-list {
  list-style: none;
}

.header-address {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: #757575;
  text-decoration: none;
}

.header-address:hover {
  color:#2196f3;
}

.header-address:focus {
  color:#2196f3;
}

.portfolio-button {
  background: #f5f4fa;
  border-radius: 4px;
  border: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  padding: 6px 22px 6px 22px;
  font-family: "Roboto";
}

.portfolio-button:hover {
  background: #2196f3;
  border-radius: 4px;
  border: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  padding: 6px 22px 6px 22px;
  cursor: pointer;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-button:focus {
  background: #2196f3;
  border-radius: 4px;
  border: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  padding: 6px 22px 6px 22px;
  cursor: pointer;
 box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-button-list li {
  display: inline;
}

.portfolio-button:hover {
  color: #ffffff;
}


.portfolio-button:focus {
  color: #ffffff;
}

.portfolio-button-list {
  list-style: none;
}

.projects .item {
  list-style: none;
}

.projects-header {
  font-weight: 700;
  font-size: 18px;
  line-height; 36px;
  letter-spacing: 0.06em;
  color: #212121;
}

.projects-name {
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.03em;
  color: #757575;
}

.projects-box { 
  border: 1px solid #EEEEEE;
  width: 370px;
  height: 404px;
}

.footer {
  background-color: #2F303A;
}

.footer-list {
  list-style: none;
}

.footer-list a {
  
  color:rgba(255, 255, 255, 0.6)
}

.footer-list li {
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  font-style: normal; /* użyte po to, by lista nie była pisana kursywą */
}

.footer-list .footer-list-city {
  color: #FFF;
}

.main-header-box {
  background-color:#2F303A;
}

.main-header {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #FFF;
}

.main-button {
  background: #2196F3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  color: #FFF;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06em;
}

.main-button:hover {
  cursor: pointer;
}

.description-list {
  list-style: none;
}

.description-list li h3 {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.description-list li span {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}

.main-section-header {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}

.main-section-list {
  list-style: none;
}

.main-section-list figure {
  background: #FFFFFF;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  width: 270px;
}

.main-section-list figcaption {
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
}

.main-section-list div {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  color:#212121;
  text-align: center;
  letter-spacing: 0.03em;
}

.team-background {
  background: #F5F4FA;
}