.site-logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: #000;
  text-decoration: none;
}

footer .site-logo {
  color: #FFF;
}

.site-logo > span {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: #2196f3;
  text-decoration: none;
}

.header-nav {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 14px;
  color: #000;
  line-height: 16px;
  letter-spacing: 0.02em;
}

.header-nav a {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 14px;
  color: #000;
  line-height: 16px;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.current-site {
  color: #2196f3;
}

.header-list {
  list-style: none;
}

.header-address {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: #757575;
  text-decoration: none;
}

.portfolio-button {
  background: #f5f4fa;
  border-radius: 4px;
  border: none;
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  padding: 6px 22px 6px 22px;
  
}

.portfolio-button:hover {
  background: #2196f3;
  border-radius: 4px;
  border: none;
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  padding: 6px 22px 6px 22px;
}

.portfolio-button-list li {
  display: inline;
}

.portfolio-button:hover span {
  color: #ffffff;
}

.portfolio-button-list {
  list-style: none;
}

.projects .item {
  list-style: none;
}

.projects-header {
  font-weight: 700;
  font-family: "Roboto";
  font-size: 18px;
  line-height; 36px;
  letter-spacing: 0.06em;
  color: #212121;
}

.projects-name {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.03em;
  color: #757575;
}

.projects-box { 
  border: 1px solid #EEEEEE;
  width: 370px;
height: 404px;
}

.footer {
  background-color: #2F303A;
}

.footer-list {
  list-style: none;
}

.footer-list li {
  font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 24px;
letter-spacing: 0.03em;
color: rgba(255, 255, 255, 0.6);
}

.footer-list .footer-list-city {
  color: #FFF;
}