body {
  color: #212121;
  font-family: "Roboto", sans-serif;
}

ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 0px;
}

h4 {
  display: block;
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

h2 {
  display: block;

  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.section {
  padding: 94px 0;
}

.zero-top-padding {
  padding: 0 0 94px 0;
}

/* HEADER */

.header {
  border-bottom: 1px solid #ececec;
}

.header-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.site-logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: #000;
  text-decoration: none;
}

.footer .site-logo {
  color: #fff;
}

.site-logo span {
  color: #2196f3;
}

.header-nav {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  position: relative;
}

.header-nav a {
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header-nav.current::after {
  position: absolute;
  background-color: #2196f3;
  bottom: 0;
  height: 4px;
  z-index: 10;
  width: 100%;
  border-radius: 2px;
  bottom: -33px;
  content: "";
  right: 0px;
}

.header-nav a {
  color: #212121;
  text-decoration: none;
}

.header-nav a:hover {
  color: #2196f3;
  text-decoration: none;
}

.header-nav a:focus {
  color: #2196f3;
  text-decoration: none;
}

.current-site {
  color: #2196f3;
}

.nav-list {
  list-style: none;
  display: flex;
  gap: 46px;
  height: 80px;
  align-items: center;
}

.contact-list {
  list-style: none;
  display: flex;
  gap: 50px;
  margin-left: 371px;
}

.header-address {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: #757575;
  text-decoration: none;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header-address:hover {
  color: #2196f3;
  
}

.header-address:focus {
  color: #2196f3;
  transition-property: color;
  tr
}

/* MAIN */

.portfolio-button {
  background: #f5f4fa;
  border-radius: 4px;
  border: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  padding: 6px 22px 6px 22px;
  font-family: "Roboto";
  transition-property: background-color, color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-button:hover {
  background-color: #2196f3;
  border-radius: 4px;
  border: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  padding: 6px 22px 6px 22px;
  cursor: pointer;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  color: #ffffff;
}

.portfolio-button:focus {
  background-color: #2196f3;
  border-radius: 4px;
  border: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  padding: 6px 22px 6px 22px;
  cursor: pointer;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);

  color: #ffffff;
}

.portfolio-button-list li {
  display: inline;
}

.portfolio-button-list {
  list-style: none;
  display: flex;
  gap: 8px;
}

.projects .item {
  list-style: none;
}

.projects-header {
  font-weight: 700;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.06em;
  color: #212121;
}

.projects-name {
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.03em;
  color: #757575;
  margin: 0;
}

.projects-box {
  border: 1px solid #eeeeee;
  width: 370px;
  height: 404px;
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.projects-img-container {
  position: relative;
  overflow: hidden;
}

.projects-overlay {
  width: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  height: 101%;
  z-index: 5;
  position: absolute;
  top: 0;
  left: 0;
  transition: transform 250ms ease;
  transform: translateY(100%);
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.03em;
  color: #ffffff;
  padding: 49px 45px 49px 24px;
}

.projects-box:hover .projects-overlay {
  transform: translateY(0);
}

.projects-box:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
  cursor: pointer;
}

.projects-box:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
  cursor: pointer;
}

.footer {
  background-color: #2f303a;
  padding: 60px 0;
}

.footer-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.footer-box2 {
  display: flex;
  flex-direction: row;
}

.footer-join-text {
  text-transform: uppercase;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #fff;
}

.footer-join {
  margin-left: 70px;
  margin-top: 10px;
}

.footer-box address ul {
  margin: 0;
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 0px;
}

.footer-list {
  list-style: none;
}

.footer-list a {
  color: rgba(255, 255, 255, 0.6);
}

.footer-list li {
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  font-style: normal; /* użyte po to, by lista nie była pisana kursywą */
  margin-bottom: 9px;
}

.footer-list li:last-child {
  margin-bottom: 0;
}

.footer-list .footer-list-city {
  color: #fff;
}

.main-header-box {
  display: flex;
  flex-direction: column;
  padding: 200px;
  align-items: center;
  gap: 30px;
}

.background-image {
  background-image: linear-gradient(
      to bottom,
      rgba(83, 83, 83, 0.466),
      rgba(68, 68, 68, 0.404)
    ),
    url("../images/header-background.jpg");
  max-width: 1600px;
  margin: 0 auto;
}

.background-color-dark {
  background-color: #fff;
}

.main-header {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #fff;
  margin: 0;
}

.main-button {
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  color: #fff;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06em;
  padding: 10px 41px 10px 42px;
}

.main-button:hover {
  cursor: pointer;
}

.description-list {
  list-style: none;
  display: flex;
  padding: 94px 0px;
  gap: 30px;
  justify-content: space-evenly;
}

.description-list li {
  display: flex;
  flex-direction: column;
}

.icon-container {
  width: 270px;
  height: 120px;
  background: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
  display: flex;
  padding: 25px 102px 25px 102px;
}

.description-list li h3 {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin: 0 0 10px 0;
}

.description-list li p {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}

.main-section-header {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  margin: 0 0 50px 0;
}

.main-section-list li {
  position: relative;
}

.main-section-description {
  display: flex;
  width: 370px;
  background: rgba(47, 48, 58, 0.8);
  height: 70px;
  position: absolute;
  bottom: 3px;
  color: #ffffff;
  justify-content: center;
  align-items: center;
  font-family: "Roboto";
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  font-style: normal;
  z-index: 3;
}

.main-section-list {
  list-style: none;
  display: flex;
  gap: 30px;
  padding: 0;
  justify-content: space-between;
  margin: 0;
}

.team-section-list figure {
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  width: 270px;
}

.team-section-list figcaption {
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
  padding: 30px 0;
  padding-bottom: 0px;
}

.team-section-list div {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  color: #212121;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
}

.team-background {
  background: #f5f4fa;
}

.team-section-list {
  list-style: none;
  display: flex;
  gap: 30px;
  padding: 0;
  justify-content: center;
  margin: 0;
}

.team-section-list li figure {
  margin: 0;
}

.icon-team {
  fill: #afb1b8;
  margin-bottom: 30px;
  margin-top: 28px;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  transition-property: background, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-team:not(:last-child) {
  margin-right: 10px;
}

.icon-team:hover {
  fill: #ffffff;
  background: #2196f3;

  cursor: pointer;
}

.icon-team:focus {
  fill: #ffffff;
  background: #2196f3;
  border-radius: 50%;
}

.footer-box .site-logo {
  margin-bottom: 20px;
}

.portfolio-box {
  display: flex;
  justify-content: center;
}

.section-nopadding {
  padding-top: 0px;
}

.item {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  flex-basis: calc((100% - 30px) / 3);
}

.projects-description {
  padding: 20px 24px 20px 24px;
}

.icon-envelope {
  margin-right: 10px;
  fill: currentColor;
}

.icon-smartphone {
  margin-right: 10px;
  fill: currentColor;
}

.our-clients {
  background-color: #ffffff;
}

.client-list {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.icon-client {
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  padding: 17px 32px 14px 32px;
  fill: #afb1b8;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-client:hover {
  fill: #2196f3;
  border: 1px solid #2196f3;
  cursor: pointer;
}

.icon-client:focus {
  fill: #2196f3;
  border: 1px solid #2196f3;
  cursor: pointer;
}

.our-clients h2 {
  margin-bottom: 50px;
}

.footer-icons {
  display: flex;
  align-items: center;
}

.footer-icons svg {
  height: 44px;
  width: 44px;
  background-color: #ffffff2f;
  border-radius: 50%;
  fill: #fff;
  margin-right: 10px;
  margin-top: 20px;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-icons svg:hover {
  background-color: #2196f3;
  cursor: pointer;
}

.footer-icons svg:focus {
  background-color: #2196f3;
}

.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 30;
  transition-property: opacity, transform;
  transition-duration: 250ms;
  transition-timing-function: ease;
  transform: scale(1);
  opacity: 100%;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  opacity: 0%;
  transform: scale(1.5);
  transition-property: opacity;
  transition: 250ms;
}

.window {
  position: absolute;
  width: 528px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  z-index: 40;
}

.close-button {
  position: absolute;
  top: 8px;
  right: 8px;
  border-radius: 50%;
  border: rgba(0, 0, 0, 0.1) 1px solid;
  background-color: #fff;
  padding: 0;
  height: 30px;
  width: 30px;
  cursor: pointer;
}

.newsletter-form {
  display: flex;
  margin-left: 78px;
  margin-top: 10px;
}

.newsletter-label {
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #FFFFFF;
}

.newsletter-form-button {
width: 200px;
height: 50px;
background: #2196F3;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 30px;
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.06em;
color: #FFFFFF;
border: none;
justify-content: center;
align-items: center;
}

.newsletter-form-button svg {
  fill: white;
  margin-left: 24px;
}

.footer-form {
  display:flex;
  
}

.newsletter-input{
  border: 1px solid rgba(255, 255, 255, 0.3);
filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
border-radius: 4px;
width: 358px;
height: 50px;
background-color: transparent;
 margin-right: 12px;
 padding: 15px;
 color: white;
}

.input-button-div {
  display:flex;
  margin-top: 20px;
}

.modal-form {
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.modal-form span {
  font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 23px;
text-align: center;
letter-spacing: 0.03em;
color: #212121;
margin-bottom: 12px;
}

.modal-form form {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.modal-label {
 font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 14px;
letter-spacing: 0.01em;
color: #757575;
}

.modal-agree-label {
  font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 24px;
letter-spacing: 0.03em;
color: #757575;
display: flex; 
justify-content: center;
align-items: center;
}

.modal-input {
  width: 448px;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
border-radius: 4px;
margin-bottom: 10px;
}

.modal-form textarea {
  resize: none;
  width: 448px;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
border-radius: 4px;
padding: 12px 16px;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 14px;
letter-spacing: 0.01em;
margin-bottom: 20px;
}

.modal-input:active {
border: 1px solid #2196F3;
}

.modal-form textarea::placeholder {
 color: rgba(117, 117, 117, 0.5);
}

.tick-box {
  margin-right: 8px;
  border: 2px;
  border-color: #212121;
  width: 16px;
  height: 15px;
}

.modal-agree-label a {
color: #2196F3;
text-decoration: underline;

}

.modal-submit {
  background: #2196F3;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;
width: 200px;
height: 50px;
color: white;
border: none;
align-self: center;
margin-top: 20px;
}