.clients {
  background-color: #ffffff;
}

.client__list {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}

.icon-client {
  width: 210px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  padding: 21px 57px 21px 57px;
  fill: #afb1b8;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover {
    fill: $blue-accent;
    border: 1px solid $blue-accent;
    cursor: pointer;
  }

  &:focus {
    fill: $blue-accent;
    border: 1px solid $blue-accent;
    cursor: pointer;
  }
}

@media screen and (min-width: 1200px) {
  .client__list {
    flex-wrap: nowrap;
  }

  .icon-client {
    width: 170px;
  }

  .clients__header {
    margin-bottom: 20px;
  }
}