.contacts {
  list-style: none;
  display: flex;
  gap: 50px;
  margin-left: 371px;

  &__item {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #757575;
    text-decoration: none;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover {
      color: #2196f3;
    }

    &:focus {
      color: #2196f3;
      transition-property: color;
    }
  }
}
