.cta {
  &__flexbox {
    display: flex;
    flex-direction: column;
    padding: 200px;
    align-items: center;
    gap: 30px;
  }

  &__photo {
    background-image: linear-gradient(
        to bottom,
        rgba(83, 83, 83, 0.466),
        rgba(68, 68, 68, 0.404)
      ),
      url("../images/header-background.jpg");
    max-width: 1600px;
    margin: 0 auto;
  }

  &__text {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #fff;
    margin: 0;
  }

  &__button {
    background: $blue-accent;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
    color: #fff;
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.06em;
    padding: 10px 41px 10px 42px;

    &:hover {
      cursor: pointer;
    }
  }
}

.background-color-dark {
  background-color: #fff;
}
