.header {
  border-bottom: 1px solid #ececec;
  padding: 16px 15px 16px 15px;

  &-flexbox {
    display: flex;
    align-items: center;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .header {
    padding: 0 15px 0 15px;
  }
}

@media screen and (min-width: 1200px) {
  .header {
    padding: 0;
    &-flexbox {
      justify-content: space-between;
    }
  }
}

// .header {
//   border-bottom: 1px solid #ececec;

//   &-flexbox {
//     display: flex;
//     align-items: center;
//     justify-content: space-between;
//   }
// }
