.whatwedo__header,
.team__header,
.clients__header {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 33px;
  /* identical to box height */

  text-align: center;
  letter-spacing: 0.03em;
  padding-bottom: 30px;

  color: #212121;
}

// .whatwedo__header,
// .team__header,
// .clients__header {
//   font-weight: 700;
//   font-size: 36px;
//   line-height: 1.16;
//   text-align: center;
//   letter-spacing: 0.03em;
//   margin: 0 0 50px 0;
// }
