.logo {
  font-family: $font-secondary;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: #000;
  text-decoration: none;

  &__footer {
    color: #fff;
    margin-bottom: 20px;
    margin-bottom: 20px;
  }

  &--accent {
    color: $blue-accent;
  }
}
