.container-mobile {
  max-width: 480px;
  position: relative;
}

@media (max-width: 767px) {
  .menu {
    display: none;
  }
}

.menu-toggle {
  min-height: 40px;
  min-width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;
}

@media (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
  .container-mobile {
    display: none;
  }
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 48px 40px;
  background-color: #fff;
  z-index: 999;
  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
  visibility: hidden;
}

.is-open {
  transform: translateX(0);
  visibility: visible;
}

.menu-toggle {
  position: absolute;
  top: 16px;
  right: 16px;
  color: $dark-border;
}

.mobile-menu {
  padding: 0;
  margin: 0;
  list-style: none;

  &__link {
    display: block;
    color: $dark-border;
    text-decoration: none;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 47px;
    letter-spacing: 0.02em;
    margin-bottom: 36px;
    &--current {
      color: $blue-accent;
    }
  }
}

.mobile-address {
  margin-top: 302px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.02em;
  color: $grey-accent;
  padding-bottom: 64px;
}

.mobile-number {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 34px;
  line-height: 40px;
  letter-spacing: 0.02em;
  color: $blue-accent;
  margin-bottom: 32px;
}

.mobile-social {
  display: flex;
  list-style: none;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.02em;
  color: $blue-accent;
  &__link {
    margin-right: 10px;
    padding-right: 10px;
    border-right: 1px solid rgba(33, 33, 33, 0.2);
  }

  &__link:last-child {
    border-right: none;
  }
}

.menu-toggle:hover {
  color: $blue-accent;
}
