.newsletter-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  &__header {
    font-family: $font-main;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #ffffff;
    text-align: center;
    display: block;
    width: 100%;
  }

  &__button {
    width: 200px;
    height: 50px;
    background: $blue-accent;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    font-family: $font-main;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: #ffffff;
    border: none;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }

  &__icon {
    fill: white;
    margin-left: 24px;
  }

  &__input {
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    max-width: 358px;
    height: 50px;
    background-color: transparent;
    padding: 15px;
    color: white;
    margin-bottom: 20px;
    width: 100%;
  }

  &__flex {
    display: flex;
    margin-top: 20px;
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (min-width: 480px) and (max-width: 1199px) {
  .newsletter-form {
    &__input {
      width: 450px;
      max-width: 450px;
    }
  }
}

@media screen and (min-width: 1200px) {
  .newsletter-form {
    display: flex;
    margin-left: 78px;
    margin-top: 10px;

    &__flex {
      flex-direction: row;
      margin-top: 20px;
      align-items: center;
      width: auto;
    }
    &__input {
      border: 1px solid rgba(255, 255, 255, 0.3);
      filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
      border-radius: 4px;
      width: 358px;
      height: 50px;
      background-color: transparent;
      margin-right: 12px;
      padding: 15px;
      color: white;
    }
    &__button {
      margin-bottom: 20px;
    }
  }
}
