.whatwedo__header,
.team__header,
.clients__header {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  margin: 0 0 50px 0;
}

.whatwedo {
  &__item {
    position: relative;
  }

  &__text {
    display: flex;
    width: 370px;
    background: rgba(47, 48, 58, 0.8);
    height: 70px;
    position: absolute;
    bottom: 3px;
    color: #ffffff;
    justify-content: center;
    align-items: center;
    font-family: $font-main;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
    letter-spacing: 0.03em;
    font-style: normal;
    z-index: 3;
  }

  &__list {
    list-style: none;
    display: flex;
    gap: 30px;
    padding: 0;
    justify-content: space-between;
    margin: 0;
  }
}
